<div class="card ">
        <img src="../../assets/cat9.jpg" class="card-img" alt="...">
        
      </div>
      <br><br>
      
<div class="container">
  <p style="color: blue; font-weight: bold;">NOTE: Hover the image to know about that breed</p><br>
<div class="card" style="border: none;">
    <div class="row">
      <div class="col-4">
        <img src="../../assets/cat1.jpg" (mouseover)="clicknew1()" (mouseout)="show1=true" class="img-fluid rounded-start" alt="...">
      </div>
            <div class="col-8" [hidden]="show1">
        <div class="card-body" >
          <h3 class="card-title">Devan Rex</h3>
          <p class="card-text">The Devon Rex is a tall-eared, short-haired breed of cat that emerged in England during the late 1950s. They are known for their slender bodies, wavy coat, and large ears. This breed of cat is capable of learning difficult tricks but
             can be hard to motivate.The Devon Rex is a breed of cat with a curly, very soft short coat similar to that of the Cornish Rex. They are often thought of as one of the most hypoallergenic cats available because of their type of coat. However, they are technically not hypoallergenic.
             The first Devon was discovered by Beryl Cox in Buckfastleigh, Devon, UK, in 1959. The breed was initially thought to be linked with the Cornish Rex; however, test mating proved otherwise.</p>
          <p class="card-text">ORIGIN: <small class="text-muted">England</small></p>
        </div>
      </div>
    </div>
</div>
<br>
<br>
<div class="card" style="border: none;">
    <div class="row">
      <div class="col-4">
        <img src="../../assets/cat3.webp" (mouseover)="clicknew2()" (mouseout)="show2=true" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-8" [hidden]="show2">
        <div class="card-body">
          <h3 class="card-title">Maine Coon</h3>
          <p class="card-text">The Main Coon cat has existed in the U.S. since the 1800s, and in fact, it is considered the oldest native cat breed in the U.S. Rugged and solidly built, the Maine Coon cat is known for its massive size, shaggy coat, and large tufted ears reminiscent of a bobcat.
             The Maine Coon might appear intimidating to some, but this breed is a gentle giant with a sweet, laid-back personality. Brown tabby Maine Coons are perhaps the most recognizable, but the Maine Coon comes in almost any color and pattern, aside from chocolate, lavender, and the Himalayan
              (pointed) pattern.Varies according to coat color, but may be green, gold, green-gold, copper, blue or odd-eyed. </p>
          <p class="card-text">ORIGIN: <small class="text-muted">United States</small></p>
        </div>
      </div>
    </div>
</div>
<br>
<br>
<div class="card" style="border: none;">
    <div class="row">
      <div class="col-4">
        <img src="../../assets/cat4.jpg" (mouseover)="clicknew3()" (mouseout)="show3=true" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-8" [hidden]="show3">
        <div class="card-body">
          <h3 class="card-title">Regdoll</h3>
          <p class="card-text">The ragdoll cat is a large, affectionate cat that goes with the flow. Ragdolls are ideal lap cats because they simply go limp with pleasure when they are being petted, giving them their name. This cat breed is one of the largest, but don’t let the size intimidate you. 
            Their big blue eyes and loud, throaty purr let you know they're just big softies. Ragdolls are notoriously social, making them a good fit for bustling homes with plenty of people and friendly pets.The big, beautiful ragdoll cat does not reach its full size, about 15 pounds on average,
             until about four years of age. With its easygoing personality and social temperament, the ragdoll is ready to be friends with just about anyone.</p>
          <p class="card-text">ORIGIN: <small class="text-muted"> California, USA</small></p>
        </div>
      </div>
    </div>
</div>
<br>
<br>
<div class="card" style="border: none;">
    <div class="row">
      <div class="col-4">
        <img src="../../assets/cat6.jpg" (mouseover)="clicknew4()" (mouseout)="show4=true" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-8" [hidden]="show4">
        <div class="card-body">
          <h3 class="card-title">Chausie</h3>
          <p class="card-text">The Chausie cat is an ancient, hybrid wildcat/domestic cat breed that originated in Egypt thousands of years ago. While it developed naturally among ancient Egyptians and along the rivers of Southeast Asia, breeders in the US began their own breeding project 1990s. 
            The Chausie's medium to large, athletic build and grizzled coat resembles its jungle-dwelling ancestors. But, unlike its wild counterparts, its friendly, affectionate demeanor makes the Chausie a great house pet. Because the Chausie is a highly active and playful cat that needs lots
             of stimulation and company, it is not ideal for owners who are away from the home most of the day. They can live happily with dogs and cats when raised alongside them. </p>
          <p class="card-text">ORIGIN: <small class="text-muted">Egypt</small></p>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="card" style="border: none;">
    <div class="row">
      <div class="col-4">
        <img src="../../assets/cat7.webp" (mouseover)="clicknew5()" (mouseout)="show5=true" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-8" [hidden]="show5">
        <div class="card-body">
          <h3 class="card-title">Siberian</h3>
          <p class="card-text">The Siberian cat is a medium-sized, semi-longhaired cat that is both breathtaking to behold and an affectionate pet. Siberian is a forest cat native to snowy Russia, where it needed its luxurious triple coat to protect against cold. This breed has a delightful
             personality—outgoing, affectionate, friendly, and energetic—making it an exceptional feline companion. They enjoy the company of other cats and even dogs and are good with gentle, respectful children.Responsible breeders screen their cats for this disease to avoid breeding affected
              cats and passing it along to future generations. </p>
          <p class="card-text">ORIGIN: <small class="text-muted">Russia</small></p>
        </div>
      </div>
    </div>
</div>
<br>
<br>
<div class="card" style="border: none;">
    <div class="row">
      <div class="col-4">
        <img src="../../assets/cat8.jpg" (mouseover)="clicknew6()" (mouseout)="show6=true" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-8" [hidden]="show6">
        <div class="card-body">
          <h3 class="card-title"> Rusty-spotted</h3>
          <p class="card-text"> Cat breeds of India and cat breeds that are popular in India are listed here. Cats have been one of the oldest known pets to humans and they are equally popular in all parts of the world including India. This world’s smallest wild cat is grey in color
             with rusty spots over the back and thigh. They are having dark streaks on each side of head, cheeks and forehead. They are about 14 to 19 inches in height and having weight around 0.9 to 1.6 KG.The rusty-spotted cat has a short reddish grey fur over most of the body with
              rusty spots on the back and flanks. Four blackish lines run over the eyes, and two of them extend over the neck. Six dark streaks are on each side of the head, extending over the cheeks and forehead. Its chin, throat, inner side of the limbs and belly are whitish with tiny brownish spots. It has a rusty band on the chest. Its paws and tail are uniform reddish grey.</p>
          <p class="card-text">ORIGIN: <small class="text-muted"> Southern India</small></p>
        </div>
      </div>
    </div>
</div>
</div>
