<div class="card" style="border: none;">
    <img src="../../assets/dog25.jpg">
</div>
<div class="card" style="border: none;">
<div class="row">
    <div class="col-6">
        <img src="../../assets/dog27.jpg" class="img-fluid rounded-start">

    </div>
    <div class="col-6">
        <h1 style="text-align: center; margin-top: 100px;">WELCOME TO PETSJD CARE</h1><br><br>
        <p style="margin-left: 100px;">PetsJD Care is a India, DC based pet sitting and pet care services company in<br> operation since 2023. Pet Peeps offers excellent care for dogs, cats and other<br> pets. Founder Gus Elfving has served on the Membership and Member’s Benefits<br> Committees of the National Association of Professional Pet Sitters, the largest<br> non-profit organization for pet sitters in the country.<br><br>
            Budget enough money for adequate care. Pets are not ultra expensive, but that<br> doesn't mean you won't need to spend money. Below are some annual cost<br> estimates provides.<br><br>
            Your home is the safest and most comfortable place for your four-legged family <br>while you are away. But, the hectic and busy nature of city living can make it<br> extremely difficult for pet parents to be available for their companion pets 24/7.<br><br>
            That’s where we come in. Pet Peeps goes to your home to tend your pet.<br> We specialize in providing top-notch care to the petizens of India, DC.
            
            </p>
    </div>
</div>
</div>
<div class="card" style="border: none;">
    <div class="row">
        <div class="col-6">
           
            <h1 style="text-align: center; margin-top: 100px;">GUS ELFVING PRINCIPAL & PACK LEADER</h1><br>
            <p style="margin-left: 70px;">Gus was a military brat whose family eventually settled in Cherokee, Oklahoma. Growing up, his love of animals was apparent as he cared for dogs, cats, fish, rabbits and even a calf he raised while still in high school.<br><br>
            After serving in the Asia Navy, Gus eventually moved to India, DC to finish his undergraduate degree at Indian University where he received a BA in Interdisciplinary Studies. Everything began to click into place when Gus started working overnight at a boarding facility. He quickly rediscovered his love of working with dogs and eventually moved on to take a job at another pet care service.<br><br>
            By 2023, Gus established PetsJD Care. Since its inception, PetsJD Care has been blessed with awesome clients and lots of luck. Gus is very interested and active in running the office and he still loves to meet every new client. More than likely, when you call the office, it’s Gus you’ll be talking to.<br><br>
            He’s honored to be involved in the National Association of Professional Pet Sitters, the nation’s largest non-profit for pet sitting professionals.  Gus is a very active member of the Capital Area Tamil Nadu and Kerala of Commerce where he serves on the communication committee.</p>
        </div>
        <div class="col-6">
            
            <img src="../../assets/cat11.webp" class="img-fluid rounded-start">
        </div>
    </div>
</div>


