<div class="card ">
  <img src="../../assets/dog16.jpg" class="card-img" alt="...">
 
  </div>

<br><br>
<div class="container">
  <p style="color: blue; font-weight: bold;">
    NOTE: Click the button to know about that breed
  </p><br>
<div class="row">
    <div class="col-4">
      <div class="card">
        <img src="../../assets/dog6.jpg" class="card-img-top" alt="...">
        <div class="card-body" >
          <button class="card-title btn btn-primary" style="width: 380px;" (click)="clicknew1()">Labrador Retriever</button>
          <p [hidden]="show1" class="card-text">The Labrador Retriever or simply Labrador, is a British breed of retriever gun dog. It was developed in the United Kingdom from fishing dogs imported from the colony of Newfoundland (now a province of Canada), and was named after the Labrador region of that colony. It is among the most commonly kept dogs in several countries, particularly in the Western world.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="../../assets/dog7.jpg" class="card-img-top" style="height:310px;" alt="...">
        <div class="card-body">
          <button class="card-title btn btn-primary" style="width: 380px;"(click)="clicknew2()">German Shepherd</button>
          <p [hidden]="show2" class="card-text">The German Shepherd is a German breed of working dog of medium to large size. The breed was developed by Max von Stephanitz using various traditional German herding dogs from 1899.
                             For herding sheep. It has since been used in many other types of work, including disability assistance, search-and-rescue, police work, and warfare.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="../../assets/dog9.jpg" class="card-img-top" style="height:310px;" alt="...">
        <div class="card-body">
          <button class="card-title btn btn-primary" style="width:380px;" (click)="clicknew3()">Rottweiler</button>
          <p [hidden]="show3" class="card-text">The dogs were known in German as Rottweiler Metzgerhund, meaning Rottweil butchers' dogs, because their main use was to herd livestock and pull carts laden with butchered meat to market.
            The buildup to World War I saw a great demand for police dogs, which led to a revival of interest in the Rottweiler.
          </p>
        </div>
      </div>
    </div>
</div>
    <br>
    <br>
    <div class="row">
    <div class="col-4">
      <div class="card">
        <img src="../../assets/dog10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <button class="card-title btn btn-primary" style="width: 380px;" (click)="clicknew4()">Great Dane</button>
          <p [hidden]="show4" class="card-text">The Great Dane is a large sized dog breed originating from Germany. The Great Dane descends from hunting dogs from the Middle Ages used to hunt wild boar and deer, and as guardians of German nobility. It is one of the two largest dog breeds in the world, along with the Irish Wolfhound.</p>
        </div>
      </div>
    </div>

    <div class="col-4">
        <div class="card">
          <img src="../../assets/dog11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <button class="card-title btn btn-primary" style="width: 380px;" (click)="clicknew5()">Dobermann</button>
            <p [hidden]="show5" class="card-text">The Dobermann Pinscher in the U.S. and Canada, is a medium-large breed of domestic dog that was originally developed around 1890 by Louis Dobermann, a tax collector from Germany.[2] The Dobermann has a long muzzle. It stands on its pads and is not usually heavy-footed.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <img src="../../assets/dog12.webp" class="card-img-top" style="height:275px;" alt="...">
          <div class="card-body">
            <button class="card-title btn btn-primary" style="width: 380px;" (click)="clicknew6()">Boxer</button>
            <p [hidden]="show6" class="card-text">The Boxer is a medium to large, short-haired dog breed of mastiff-type, developed in Germany. The coat is smooth and tight-fitting; colors are fawn, brindled, or white, with or without white markings. Boxers are brachycephalic (they have broad, short skulls).</p>
          </div>
        </div>
      </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-4">
      <div class="card">
        <img src="../../assets/dog13.jpg" class="card-img-top" style="height:280px;"alt="...">
        <div class="card-body">
          <button class="card-title btn btn-primary" style="width: 380px;" (click)="clicknew7()">Chippiparai</button>
          <p [hidden]="show7" class="card-text">The Chippiparai is a breed of sighthound from the State of Tamil Nadu in southern India.The Chippiparai has typical streamlined sighthound features with long legs and a lean and lithe frame built for speed. The breed is usually white in colour, although other colours can be found. It averages 61 centimetres (24 in) in height at the withers, dogs averaging 63 centimetres (25 in) and bitches 56 centimetres (22 in).</p>
        </div>
      </div>
    </div>

    <div class="col-4">
        <div class="card">
          <img src="../../assets/dog14.jfif" class="card-img-top" style="height:280px;" alt="...">
          <div class="card-body">
            <button class="card-title btn btn-primary" style="width: 380px;" (click)="clicknew8()">Rajapalayam</button>
            <p [hidden]="show8" class="card-text">The Rajapalayam, also known as the Polygar Hound or Indian Ghost Hound, is a southern Indian dog breed.The breed is named after Rajapalayam,a town in the Virudhunagar,Tamil Nadu.Eye color can range from golden to brown and green. Puppies born with whitish or blue eyes are usually deaf and should not be bred. The coat is single, short, and fine; these dogs don't do well in very cold climates or tropics.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <img src="../../assets/dog15.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <button class="card-title btn btn-primary" style="width:380px;" (click)="clicknew9()">Kanni</button>
            <p [hidden]="show9" class="card-text">The Kanni (கன்னி), meaning pure (also known as the Maiden's Beastmaster), is a rare indigenous South Indian sighthound breed of dog found in the state of Tamil Nadu.[2] Their native breeding tract is located around villages in the Tirunelveli, Virudhunagar and Thoothukudi districts. The breed is used mainly for coursing. "Kanni" refers to the black and tan and black and sable varieties.</p>
          </div>
        </div>
      </div>
</div>
</div>
