<div class="card">
    <img src="../../assets/opets2.jpg" class="card-img">
</div>
<br><br>
<div class="container">
  <p style="color: blue; font-weight: bold;">NOTE: Hover the image to know about that breed</p><br>
    <div class="card" style="border: none;">
        <div class="row">
          <div class="col-4">
            <img src="../../assets/opets3.jpg" (mouseover)="clicknew1()" (mouseout)="show1=true" class="img-fluid rounded-start" style="height:300px;">
          </div>
          <div class="col-8" [hidden]="show1">
            <div class="card-body">
              <h3 class="card-title">Green Parrot</h3>
              <p class="card-text">The rose-ringed parakeet (Psittacula krameri), also known as the ring-necked parakeet (and more commonly known as the Indian ringneck parrot) is a medium-sized parrot in the genus Psittacula, of the family Psittacidae. It has disjunct native ranges in Africa and the Indian Subcontinent, and is now introduced into many other parts of the world where feral populations have established themselves and are bred for the exotic pet trade.
                One of the few parrot species that have successfully adapted to living in disturbed habitats, it has withstood the onslaught of urbanisation and deforestation. In captivity, rose-ringed parakeets will take a large variety of food and can be fed on a number of fruits, vegetables, pellets, seeds, and even small amounts of cooked meat for protein. Oils, salts, chocolate, alcohol, and other preservatives should be avoided
              </p>
              <p class="card-text">ORIGIN: <small class="text-muted">India</small></p>
            </div>
          </div>
        </div>
    </div>
    <br><br>

    <div class="card" style="border: none;">
        <div class="row">
          <div class="col-8" >
            <div class="card-body" [hidden]="show2">
              <h3 class="card-title">Horse</h3>
              <p class="card-text">A horse is a vegetarian and domestic animal. It is very beneficial as well. A horse has four feet, two eyes, a nose, two ears and a tail. Their feet are quite slim but really strong. It allows them to run fast and for long.
               Moreover, one can find horses in different sizes, colours and shapes. All this depends on their breed and genes. In addition, the quality and quantity they eat daily also impact their health.
               Horses are in many colours. There are white, red, brown, black, grey horses and also sometimes they have a mixture of colours. Almost every country in the world has horses. The Arabian horse is popular for running very fast.
               Foals are young horses or baby horses. A mother horse gives birth to one foal at a time. About 5000 years ago, horses managed to domesticate humans. A horse lives up to 25 to 30 years. However, it does depend on their living condition.
                
                </p>
              <p class="card-text">ORIGIN: <small class="text-muted">Sothern Russia</small></p>
            </div>
          </div>
          <div class="col-4">
            <img src="../../assets/horse.jpg" (mouseover)="clicknew2()" (mouseout)="show2=true" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
    </div>
        <br><br>

        <div class="card" style="border: none;">
          <div class="row">
            <div class="col-4">
              <img src="../../assets/rabbit.jpg" (mouseover)="clicknew3()" (mouseout)="show3=true" class="img-fluid rounded-start" style="height:300px;">
            </div>
            <div class="col-8" [hidden]="show3">
              <div class="card-body">
                <h3 class="card-title">Rabbit</h3>
                <p class="card-text">  Rabbits, also known as bunnies or bunny rabbits, are small mammals in the family Leporidae (which also contains the hares) of the order Lagomorpha (which also contains the pikas). Oryctolagus cuniculus includes the European rabbit species and its descendants,
                   the world's 305 breeds[1] of domestic rabbit. Sylvilagus includes 13 wild rabbit species, among them the seven types of cottontail. The European rabbit, which has been introduced on every continent except Antarctica, is familiar throughout the world as a wild prey animal and as a domesticated form of livestock and pet. With its widespread effect on ecologies and cultures, the rabbit is, in many areas of the world, a part of daily life—as food, clothing, a companion, and a source of artistic inspiration. </p>
                <p class="card-text">ORIGIN: <small class="text-muted">Lagomorpha evolved in Asia</small></p>
              </div>
            </div>
          </div>
      </div>
      <br><br>
     
      <div class="card" style="border: none;">
        <div class="row">
          <div class="col-8">
            <div class="card-body" [hidden]="show4">
              <h3 class="card-title">Chicken</h3>
              <p class="card-text">The chicken (Gallus domesticus) is a domesticated species that arose from the red junglefowl, originally from India. They have also partially hybridized with other wild species of junglefowl (the grey junglefowl, Ceylon junglefowl, and green junglefowl).[1] Rooster and cock are terms for adult male birds, and a younger male may be called a cockerel. A male that has been castrated is a capon. An adult female bird is called a hen, and a sexually immature female is called a pullet.
                 Humans keep chickens primarily as a source of food (consuming both their meat and eggs) or as pets. Traditionally, they were also bred for cockfighting, which is still practiced in some places. Chickens domesticated for meat are broilers, and for eggs, they are layers. Chickens are one of the most common and widespread domestic animals, with a total population of 23.7 billion as of 2018,[2] up from more than 19 billion in 2011. There are more chickens in the world than any other bird. There are numerous cultural references to chickens—in myth, folklore, and religion, as well as in language and literature.         
                </p>
              <p class="card-text">ORIGIN: <small class="text-muted">India</small></p>
            </div>
          </div>
          <div class="col-4">
            <img src="../../assets/chicken.jpg" (mouseover)="clicknew4()" (mouseout)="show4=true" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
    </div>
    <br>
    <br>

    <div class="card" style="border: none;">
      <div class="row">
        <div class="col-4">
          <img src="../../assets/fish.jpg" (mouseover)="clicknew5()" (mouseout)="show5=true" class="img-fluid rounded-start" style="height:330px;">
        </div>
        <div class="col-8" [hidden]="show5">
          <div class="card-body">
            <h3 class="card-title">Fish</h3>
            <p class="card-text">WorldFish is an international, non-profit research and innovation organization reducing hunger, malnutrition and poverty across Africa, Asia and the Pacific.
             For over 45 years, our work on sustainable aquaculture and fisheries has improved the lives of millions of women, men and youth.
             Fish and other aquatic foods grown in and harvested from oceans, lakes, rivers and ponds provide income for more than 800 million people and provide 3.3 billion with 20% of their animal protein intake. Our focus on sustainability makes sure that the way we produce and use these foods today means a plentiful future of generations to come.
             Our evidence-based solutions range in scale from households to global policies and spans across six interlinked themes: nutrition, gender, climate, sustainability, economy and COVID-19.
             We champion aquatic foods for healthy people and planet and believe that a sustainable blue planet of well-nourished children, women and men is within our reach.</p>
          </div>
        </div>
      </div>
  </div>
  <br><br>

  <div class="card" style="border: none;">
    <div class="row">
      <div class="col-8">
        <div class="card-body"[hidden]="show6">
          <h3 class="card-title">Laboratory mouse</h3>
          <p class="card-text">The laboratory mouse or lab mouse is a small mammal of the order Rodentia which is bred and used for scientific research or feeders for certain pets. Laboratory mice are usually of the species Mus musculus. They are the most commonly used mammalian research model and are used for research in genetics, physiology, psychology,
             medicine and other scientific disciplines. Mice belong to the Euarchontoglires clade, which includes humans. This close relationship, the associated high homology with humans, their ease of maintenance and handling, and their high reproduction rate, make mice particularly suitable models for human-oriented research. The laboratory mouse genome
              has been sequenced and many mouse genes have human homologues.[1] Lab mice sold at pet stores for snake food can also be kept as pets.
               
            </p>
          <p class="card-text">ORIGIN: <small class="text-muted">Asia</small></p>
        </div>
      </div>
      <div class="col-4">
        <img src="../../assets/mouse.jpg" (mouseover)="clicknew6()" (mouseout)="show6=true" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
</div>
</div>
