<div class="card">
    <img src="../../assets/dog18.jpg" class="card-img">
</div>
<br><br>
<div class="container">
    <h1>15 MAY: RULES OF THE ROAD</h1>
    <p>If you’re a dog owner in the city, chances are you already know there are some definite dos and don’ts for dog walking in tight metro spaces. Maybe you’ve even been frustrated by the poor etiquette of other dog.</p><br>
    <div class="card" style="width:500px; margin-left: 400px;">
        <img src="../../assets/dog19.jfif" class="card-img">
    </div><br><br>

    <h1>07 AUG: 5 REASONS WHY YOU SHOULDN’T LET YOUR DOGS OUT</h1>
    <p>The song “Who Let The Dogs Out” is still popular during ball games and on the internet, but it’s definitely something that pet parents should only sing along to, and not follow as a practice. Unfortunately, there are many.</p><br>
    <div class="card" style="width:500px; margin-left: 400px;">
        <img src="../../assets/dog20.jpg" class="card-img">
    </div><br><br>

    <h1>17 JUL: 8 WAYS TO KEEP DOGS SAFE IN CASE OF A FIRE</h1>
    <p> Despite following all tips to prevent fires in your home, some accidents may be unavoidable. In this case, knowing what to do to minimize the damage and to avoid endangering your family and pets is crucial. Here are.</p><br>
    <div class="card" style="width: 500px; margin-left: 400px;">
        <img src="../../assets/dog21.jpg" class="card-img">
    </div><br><br>

</div>